section.screen.screen--welcome
    .container.container--large
        .welcome
            header.screen__header
                h3.screen__title Welcome to our website
                .screen__description
                    p MAT is a Die Attach and Dispensing equipment manufacturer specializing in providing machines
                      | and turn-key solutions for most advanced die attach and dispensing applications

                    p Should your application be Eutectic or Adhesive based, Flip Chip or Face Up, MCM, Die Stacking,
                      | MEMS, Imaging Device or other, our machines will handle it with high accuracy and yield.

                    p Our quality management system is ISO 9001:2015 certified
                      | and customer satisfaction in our top priority.

                +button({
                  text: 'LEARN MORE',
                })