.screen.screen--welcome
  margin-top: -75px
  padding-top: 200px
  padding-bottom: 100px

  .screen__header
    gap: 30px
    display: flex
    flex-direction: column

    max-width: 1200px

  .screen__title
    font-size: 32px
    color: $color--primary

  .screen__description
    font-size: 20px
    line-height: 24px

    p:not(:last-child)
      margin-bottom: 20px

  .welcome
    max-width: 950px