- alt = "Banner alt"

if (props.title)
  - alt = props.title

.banner.banner--alt
    .banner__header
        h1.banner__title= props.title
            +svg('banner-alt-title-frame')

    .banner__content
        h2.banner__subtitle= props.subtitle
    img(src=props.src, alt=alt)