.banner
  width: 100vw
  height: 340px

  img
    width: 100%
    height: 100%

    object-fit: cover
    object-position: center

  &--alt
    position: relative

    .banner

      &__header
        top: 0
        left: 0
        right: 0
        position: absolute

        display: flex
        justify-content: center

        width: 100vw

        border-top: 2px solid white

      &__title
        position: relative

        padding: 16px 37px 13px

        background-color: #ffffffcc
        border-radius: 0 0 40px 40px

        font-size: 24px
        line-height: 28px
        font-weight: normal
        text-transform: uppercase

        svg
          left: 0
          right: 0
          bottom: 0
          position: absolute

          width: 100%
          height: 100%

      &__content
        top: 0
        left: 0
        right: 0
        bottom: 0
        position: absolute

        display: flex
        align-items: center
        justify-content: center

        color: white

      &__subtitle
        font-size: 24px
        font-weight: 500
        line-height: 28px
        text-transform: uppercase
