mixin button(props = {})
  include ../components/button/index

mixin header()
    include ../components/header/index

mixin footer()
    include ../components/footer/index

mixin footer-home()
    include ../components/footer/home

mixin first-screen()
    include ../components/first-screen/index

mixin models()
    include ../components/models/index

mixin welcome()
    include ../components/welcome/index

mixin testimoniasls(props = {})
    include ../components/testimonials/index

mixin banner(props = {})
    include ../components/banner/index

mixin banner-alt(props = {})
    include ../components/banner/alt