section.screen.screen--models
    .container.container--large.container--models
        header.screen__header
            h2.screen__title Simple is better!
            .screen__description
                span We provide qualified simple solutions
                     br
                     | for your complex die attach applications

        .models
            a.model(href="/model.html")
                figure.model__thumbnail
                    img(src="/assets/img/model-1.png", alt="Model 6500")
                h4.model__title Model 6500
            a.model(href="/model.html")
                figure.model__thumbnail
                    img(src="/assets/img/model-2.png", alt="Model 6500")
                h4.model__title
                    span Model 6200
                    span “The Crossover”
