.screen.screen--models
  margin-top: -2px
  padding-top: 150px

  background-size: 100% auto
  background-repeat: no-repeat
  background-image: url("/assets/img/hb-2.png")

  .container--models
    gap: 120px
    display: flex
    flex-direction: column

  .screen__header
    gap: 15px
    display: flex
    flex-direction: column

    color: white

  .screen__title
    font-size: 48px
    font-weight: bold

  .screen__description
    font-size: 40px

  .models
    gap: 150px
    display: flex
    flex-wrap: wrap
    align-items: flex-end
    justify-content: center

    .model
      gap: 10px
      display: flex
      flex-direction: column

      text-decoration: none

      &__thumbnail
        width: 400px

        img
          width: 100%
          height: 100%

          object-fit: contain

      &__title
        display: flex
        flex-direction: column

        font-size: 24px
        text-align: center
        font-weight: normal
        color: $color--secondary