- var target = props.target ? props.target : "_self"
- var clsx = ['button']

if (props.icon)
  - clsx = [...clsx, "button--icon"]

if (props.block)
  - clsx = [...clsx, "button--block"]

if (props.type)
  - clsx = [...clsx, `button--${props.type}`]

if (props.color)
  - clsx = [...clsx, `button--${props.color}`]

if (props.size)
  - clsx = [...clsx, `button--${props.size}`]


mixin buttonInner(btn = {})
  if (btn.icon)
    +svg(btn.icon)
    
  =btn.text

if (props.link)
  a(href=props.link, class=clsx, target=target)
    +buttonInner(props)
else
  button(class=clsx)
    +buttonInner(props)