.button
  padding: 15px 35px

  border-style: solid
  border-radius: 34px

  font-size: 20px
  line-height: 23px
  font-weight: normal

  &--block
    display: block

    width: 100%

  &--outlined
    background: transparent

    @each $name, $color in $UI-COLORS
      &.button--#{$name}
        border-color: $color

        color: $color

        &:hover
          background-color: $color

          @include smart-color($color)

