-
  routes = [
      {
        name: "home",
        text: "Home",
        href: "/index.html",
      },
      {
        name: "about",
        text: "About",
        href: "/about.html",
      },
      {
        name: "products",
        text: "Products",
        href: "/products.html",
      },
      {
        name: "applications",
        text: "Applications",
        href: "/applications.html",
      },
      {
        name: "career",
        text: "Career",
        href: "/career.html",
      },
      {
        text: "Sales & Support",
        name: "sales-and-support",
        href: "/sales-and-supports.html",
      },
  ]

header#header.header
    div.header__wrapper
        a.header__logo(href="/index.html")
            img(src="/assets/img/logo.svg", alt="Logo")
        nav.header__nav
            ul
                each route in routes
                    -
                        clsx = []
                        if (currentRouteName === route.name)
                          clsx.push('current-menu-item')
                    li
                        a(href=route.href, class=clsx.join(' '))= route.text

        .header__actions
            +button({
              color: 'white',
              type: 'outlined',
              text: 'Contact Us',
            })