.header
  top: 0
  left: 0
  right: 0
  z-index: 10
  position: fixed

  width: 100vw
  height: 200px

  padding: 20px 30px

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0) 100%)

  &__wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between

  &__logo
    display: flex

    flex: 0 0 280px

    width: 100%
    max-width: 280px

    img
      flex: 0 0 100%

      object-fit: contain

      width: 100%
      height: 100%

  &__nav

    ul
      gap: 15px
      display: flex
      align-items: center

      margin: 0
      padding: 0

      list-style: none

      li
        a
          padding: 8px 25px

          text-decoration: none

          color: white

          border-radius: 50px

          &.current-menu-item
            color: $color--primary
            background-color: white


body.layout--thin

  .header
    top: 0
    left: 0
    right: auto
    bottom: auto
    position: sticky

    height: auto
    min-height: 129px

    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-image: url("/assets/img/header-thin.jpg")
