-
  routes = [
    {
        text: 'About',
        name: 'about',
        href: '/about.html',
    },
    {
        text: 'Products',
        name: 'products',
        href: '/products.html',
    },
    {
        text: 'Applications',
        name: 'applications',
        href: '/applications.html',
    },
    {
        text: 'Career',
        name: 'career',
        href: '/career.html',
    },
    {
        text: 'Sales&Support',
        name: 'sales-and-support',
        href: 'sales-and-support',
    }
  ]

  socials = [
      {
        href: '//fb.com',
        icon: 'facebook',
      },
      {
        href: '//linkedin.com',
        icon: 'linkedin',
      }
  ]

  testmonialsCount = 5;

footer#footer.footer
    nav#footer-nav.footer__nav
        ul
            each route in routes
                li
                    a(href=route.href)= route.text
    .footer__social
        ul
            each social in socials
                li
                    a(href=social.href)
                        +svg(social.icon)

    .footer__copyright
        span Copyright @ 2018. MicroAssembly Technologies, Ltd.
        span All Rights Reserved.