.footer
  padding-top: 160px

  background-size: 100% auto
  background-repeat: no-repeat
  background-position: bottom left
  background-image: url("/assets/img/footer.jpg")

  &--home
    background-image: url("/assets/img/f-1.png")

  color: white

  &__testimonials
    padding-bottom: 75px

  &__nav
    border-top: 1px solid white

    padding: 60px 20px 40px

    ul
      gap: 30px
      display: flex
      justify-content: center

      margin: 0
      padding: 0

      font-size: 14px

      list-style: none

      li
        a
          color: inherit
          text-decoration: none

  &__social
    position: relative

    display: flex
    align-items: center
    justify-content: center

    &::after,
    &::before
      content: ""

      flex: 1

      height: 1px

      background: white

    ul
      display: flex
      align-items: center
      justify-content: center

      margin: 0 -1px
      padding: 0

      list-style: none

      li
        display: flex
        align-items: center
        justify-content: center

        &:not(:last-child)::after
          content: ""

          flex: 0 0 25px

          height: 1px
          width: 25px
          max-width: 25px

          margin: 0 -1px

          background-color: white

        a
          flex: 0 0 40px

          display: flex

          width: 40px
          height: 40px

          color: white

          svg
            flex: 0 0 100%

            width: 100%
            height: 100%

  &__copyright
    padding: 25px 0

    gap: 10px
    display: flex
    align-items: center
    flex-direction: column

    color: white
    font-size: 14px