.testimonials
    h4.testimonials__title Testimonials
    #testimonials-slider.testimonials__items
        - n = 0;
        while n < props.count
            .testimonials__item
                .testimonial
                    .testimonial__author Adalbert Otto Sarmasi, Process Engineer, Flex:
                    .testimonial__content "What we liked on te MAT 6400:
                            br
                            br
                            | Good for Die Attach,
                            br
                            | Good for Flip Chip,
                            br
                            | Easy tooling up.
                            br
                            | Software very easy to understand.
                            br
                            | High accuracy placement of the die,
                            br
                            | High repeatability of the process.
                            br
                            br
                            | The most important thing is we can design our tooling for the work holder side (work holder table), the pickup side and we can design our own pickup tool.
                            br
                            | This makes us very very fast and competitive on the market, also we can offer short time, and lower price because of the low cost of the tooling.
                            br
                            | Other equipment vendors does not give you that much freedom regarding the tooling, and this will slow you down with the setup and development, also your costs goes up".
            - n++