.testimonials
  gap: 30px
  display: flex
  flex-direction: column

  overflow: hidden

  background-color: opacify($color--gray-light, .6)

  &__title
    gap: 17px
    display: flex
    align-items: center

    margin: 0
    padding: 55px 60px 0 55px

    font-size: 31px
    line-height: 37px
    font-weight: bold
    color: $color--primary
    text-transform: uppercase

    &::after
      flex: 1

      content: ''

      height: 2px

      background-color: $color--primary

  &__items
    position: relative

    max-width: 100%

    padding: 30px 0 35px

    color: black

    &::after
      content: '”'

      top: -30px
      right: 90px
      position: absolute

      font-size: 126px
      color: $color--gray
      font-family: $font--secondary

    .slick-dots
      gap: 8px
      display: flex
      align-items: center
      justify-content: center

      list-style: none

      margin-top: 45px

      li

        button
          width: 20px
          height: 20px

          margin: 0
          padding: 0

          border-radius: 20px
          background-color: transparent
          border: 1px solid $color--primary

          color: transparent

          cursor: pointer

          transition: border-color .25s, background-color .25s

          &:hover
            border-color: $color--secondary

        &.slick-active
          button
            border-color: $color--secondary
            background-color: $color--secondary
            
    .slick-arrow
      top: 50%
      z-index: 1
      position: absolute
      transform: translateY(-50%)

      display: flex
      align-items: center

      width: 70px
      height: 70px

      padding: 10px

      border-radius: 70px
      background-color: $color--secondary

      color: white

      svg
        width: 25px
        height: 25px

      &--prev
        left: 0

        justify-content: flex-end

        margin-left: -35px

      &--next
        right: 0

        justify-content: flex-start

        margin-right: -35px


  .testimonial
    gap: 60px
    display: flex
    flex-wrap: wrap

    padding: 0 60px

    font-size: 18px
    line-height: 23px

    &__author
      flex: 0 0 330px

      font-weight: bold

    &__content
      flex: 1