extends layouts/article

block variables
  - docTitle = "Math ltd programmer - About"
  - currentRouteName = "about"

block sidebar
  figure.article__thumbnail
    img(src="/assets/img/about-thumbnail.jpg", alt="About us")

block content
  header.article__header
    h2.article__title About Us

  div.article__content
    p MicroAssembly Technologies, Ltd. (MAT), founded in January 2000, specializes in providing proven solutions to the die attach industry.
    p MAT is a dynamic team of engineers and applications specialists with many years of experience in the field of equipment for die attach. Our specific strengths are with complex, high value applications such as Multi Chip Modules, Imaging Devices, Sensors, MEMS, Flip Chip Modules, and much more.
    p Our main products are the High Accuracy Model 6500 Die Attach System and Model 6200 Table-Top Automatic Die Attach System. We still support the previous Model 6400 Automatic Die Attach Systems, Model 6495/6/7 Semi-Automatic and Model 6900/6920 High Volume Production Systems.
    p Since its formation MAT has been active in the worldwide die attach market. Our goal is to provide simple but confirmed solutions to our customers by developing new machine features and capabilities to meet the changing needs of the die attach processes.
    p MAT ensures a high level of customer satisfaction through close collaboration with our customers during the pre-sale application feasibility testing, development of the required process solutions and tooling as well as after the machines have been installed and qualified for production.
    p Our die attach machines are being used by hundreds of large and small companies world-wide. Our world-wide sales and support organization provides sales, service, spare parts and process support directly or through local representatives.

    p Additional services provided by MAT are:
      br
      | · Die Attach systems production time rental at MAT.
      br
      | · Strategic process and product development collaborations in different fields.
      br
      | · Consulting in the field of Die Attach.

    p Our quality management system is ISO 9001:2015 certified. Highlights of our quality management policy are the following:
      br
      | · Full compliance with the laws, standards and instructions relevant to the safety of the products and services provided to our customers.
      br
      | · Full compliance with the requirements of our customers in order to ensure customer satisfaction.
      br
      | · Continues control of the quality of the products and services provided by the company.
      br
      | · Ensure all necessary resources for management and control of the quality management system.

  +button({
    block: true,
    type: 'outlined',
    color: 'secondary',
    text: 'Contact Us',
  })