extends layouts/article

block variables
  - docTitle = "Math ltd programmer - Model 6500"
  - currentRouteName = "products"
  -
    props = [
      {
        title: "Software",
        items: [
          "Setup.txt",
          "6400SW_5_6_0.ZIP for machines up to Serial Number 846",
          "6400SW_6_6_19.ZIP for machines Serial Number 847 and above"
        ],
      },
      {
        title: "Brochure",
        items: ["Download brochure"],
      }
    ]

block sidebar
  .article__images
    figure.images__main
      img(src="/assets/img/product-thumbnail.jpg")
      a(href="#").main__play
        +svg('play')
      a(href="#").main__zoom
        +svg('search')
    .images__slider
      a(href="#")
        img(src="/assets/img/product-thumbnail.jpg")
        span.slide__play
          +svg('play-bold')
      a(href="#")
        img(src="/assets/img/product-thumbnail.jpg")
      a(href="#")
        img(src="/assets/img/product-thumbnail.jpg")
      a(href="#")
        img(src="/assets/img/product-thumbnail.jpg")

  .article__props
    each prop in props
      .article__prop
        h4.prop__title= prop.title
        if prop.items && prop.items.length
          ul
            each item in prop.items
              li
                +svg('arrow-right')
                span= item

block content
  header.article__header
    h2.article__title Model 6500
    h4.article__subtitle  Automatic, Hight Accuracy
                          br
                          | Die Attach System

  div.article__content
    p Highest versatility, fully automatic die attach system controlled by user friendly Windows 7 Professional based software.
    p Very large work area allows handling substrate carriers up to 500 x 300 mm.
    p Model 6500 performs room temperature as well as heated processes including Epoxy, Eutectic, Thermo-sonic, Thermo-compression, ACF/ACP, NCF/NCP, Flip Chip, DAF, Ag Sintering and other assemblies.
    p Very high die placement accuracy of ±3 microns (process dependent) is ensured by the advanced motion control system, high resolution digital vision system and advanced software.
    p Handles active and passive components with sizes between 0.15 mm up to over 50 mm.
    p Pick from up to Forty 2" or up to Twelve 4" Waffle or Gel Pak carriers.
    p Pick from Wafers up to 300 mm.
    p Pick from up to 8 Tape & Reel feeders.
    p Specializing in complex die attach applications including combined processes, unusual die sizes and aspect ratios, very large number of components, etc.
    p The volumetric, time-pressure, Jet dispenser or special pumps for UV adhesives accurately apply the adhesive in programmable shapes. Double Dispenser also available.
    p Stamping (Pin Transfer) applies adhesive dots as small as 75 microns.
    p Ag sintering process for multi-chip devices using Ag Sheet of Paste.
    p Full Flip Chip capability for C2/C4 processes as well as Gold Bump applications.
    p Handles imaging devices, LCD's, MEMS and different types of sensitive devices.
    p Unique die staking capability with programmable BLT for each level separately.
    p Deep access capability up to 50 mm.

    h4 Specification Highlights:

    p - Work Area up to 500 x 300 mm(20" x 12").
      br
      | - Deep access up to 50 mm Z travel.
      br
      | - Die size: 0.150 to over 50 mm.
      br
      | - Die Thickness: from 50 microns.
      br
      | - Die Aspect Ratio: over 1:50.
      br
      | - Die Material: GaAs, GaN, Silicon, Glass, other.
      br
      | - Die Presentation
      br
      | &nbsp;&nbsp; - Up to 40 Waffle / Gel packs
      br
      | &nbsp;&nbsp; - Up to 8 Tape & Reel feeders
      br
      | &nbsp;&nbsp; - One 300 mm Wafer.
      br
      | - Volumetric, Time-Pressure or Jet Dispensing
      br
      | - Double Dispenser, Combination of the above
      br
      | - Stamping (pin transfer) for dots as small as 75 µm.
      br
      | - Integrated UV curing system.
      br
      | - Cold or Hot process up to 500 C with Inert / Forming gas cover.
      br
      | - Heated pickup tool up to 500 C with Forming gas provision.
      br
      | - Thermo - sonic bonding process available.
      br
      | - Accurate Bond Line Thickness control.
      br
      | - Advanced Die Stacking capability.
      br
      | - Pickup / Bond Force: 0.4 – 90 N.
      br
      | - Placement Accuracy: ±3 µm depending on application.
      br
      | - Throughput: up to 1000 CPH depending on application.



  +button({
    block: true,
    type: 'outlined',
    color: 'secondary',
    text: 'Contact Us',
  })