extends layouts/thin

block variables
  - docTitle = "Math ltd programmer - Carrier and Business Opportunities"
  - currentRouteName = "products"

block content
  +banner-alt({
    src: '/assets/img/sales-and-support.jpg',
    subtitle: 'Join Our Team | We\'re Hiring!',
    title: 'Carrier and Business Opportunities',
  })

  section.blocks
    .container
      .blocks__main
        .block
          .block__contet
            h3.block__title Interested in becoming an MAT Distributor or Agent?
            .block__description
              | We are constantly seeking opportunities to expand our business into new territories and markets.
              br
              | If you are interested in becoming an MAT distributor or agent please contact us.
          .block__email
            +svg('at')
            a(href="mailto:mat-ltd@mat-ltd.com") mat-ltd@mat-ltd.com

      .blocks__list
        .block
          .block__content
            h3.block__title Current Vacancies :
            .block__description
              | As a progressive company with a long history, we are always looking to work with the best people in the business.
              br
              | A professional environment creates a great team and ultimately leading to a great service to our customers and employees.
              br
              |If you are driven, enthusiastic, and looking for a rewarding environment then become a part of our team.

        - i = 0
        while i < 1
          .block.block--with-more
            .block__content
              h3.block__title Civil Engineer Job Description
              .block__description
                p We are looking for an experienced, driven civil engineer with a wealth of industry knowledge. To ensure success, the
                  | ideal candidate should be comfortable splitting their hours between the office, on-site visits, and attending council
                  | meetings.

                p The civil engineer should be a critical thinker and have sound subject knowledge of mathematics and physics to identify and solve engineering problems. You must also possess a certain level of creativity in order to present innovative solutions and improvements to technical processes. The successful candidate will be able to effectively communicate ideas, make recommendations, and negotiate project details with their team, subcontractors, and clients.

                p Civil Engineer Responsibilities:
                ul
                  li Developing detailed designs.
                  li Doing feasibility assessments and site inspections.
                  li Preparing and implementing project plans.
                  li Researching and providing estimates for projects.
                  li Reviewing government regulations and ordinances.
                  li Monitoring and optimizing safety procedures, production processes, and regulatory compliance.
                  li Making recommendations or presenting alternative solutions to problems.
                  li Confidently liaising with clients and other professional subcontractors.
                  li Project management duties (e.g. managing budgets, resources, and deadlines; acquiring and compiling quotes, etc.).

              a(href="#", data-less-text="Less", data-more-text="More").block__toggle More

            - i++
