- currentRouteName = "home"

block variables

include ../includes/mixins/index

doctype
html(lang="hy-AM")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title= docTitle

    +assets('css', 'style')
    +style('/assets/vendors/slick/slick.css')

    block headerStyles

    block headerScripts
  body
    +header()
    block content
    +footer()
    +script('/assets/vendors/jquery-3.6.0.min.js')
    +script('/assets/vendors/slick/slick.min.js')
    +assets('js', 'script')

    block footerScripts