@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap')
@import _variables
@import _mixins

*
  margin: 0
  min-width: 1px
  min-height: 1px

  box-sizing: border-box

body
  min-height: 100vh

  margin: 0
  padding: 0

  font-family: $font--primary

  overflow-x: hidden

input,
button
  font-family: $font--primary

.container
  width: 100%
  max-width: 1400px

  margin-left: auto
  margin-right: auto

  &--large
    max-width: 1650px

  &--fluid
    max-width: 100%

.main

  &--article
    gap: 95px
    display: grid
    align-items: flex-start
    grid-template-columns: 630px 1fr

    margin-top: -120px

    .article__content
      padding-top: 130px

.article

  &__thumbnail
    max-width: 100%

    img
      width: 100%
      height: 100%

      object-fit: contain
      object-position: center

  &__header
    gap: 7px
    display: flex
    flex-direction: column

  &__title
    font-size: 36px
    line-height: 42px
    font-weight: bold
    color: $color--primary
    text-transform: uppercase

  &__subtitle
    color: white
    font-size: 18px
    line-height: 21px
    font-weight: bold

  &__content
    color: black
    font-size: 16px
    line-height: 23px

    p
      margin-bottom: 20px

    h4
      margin-bottom: 20px

      font-size: 18px
      line-height: 18px
      font-weight: bold

  &__props
    gap: 22px
    display: flex
    flex-direction: column

    margin-top: 16px

    ul
      gap: 10px
      display: flex
      flex-direction: column

      margin: 0
      padding: 0

      list-style: none

      li
        gap: 5px
        display: flex
        align-items: center

        font-size: 16px
        line-height: 16px

        svg
          width: 12px
          height: 12px

          color: $color--gray

  &__prop
    gap: 15px
    display: flex
    flex-direction: column

    &__title
      font-size: 18px
      font-weight: bold
      line-height: 18px

  &__images
    position: relative

    .images__main
      position: relative

      display: flex

      background-color: black
      border: 3px solid white

      img
        width: 100%
        height: 100%

        object-fit: cover
        object-position: center

      .main__zoom
        right: 10px
        bottom: 10px
        position: absolute

        width: 55px
        height: 55px

        color: white

        svg
          width: 100%
          height: 100%

      .main__play
        top: 50%
        left: 50%
        position: absolute
        transform: translate(-50%, -50%)

        width: 102px
        height: 102px

        color: white

        svg
          width: 100%
          height: 100%

    .images__slider
      left: 0
      right: 0
      bottom: 0
      position: absolute

      gap: 10px
      display: flex
      flex-wrap: wrap
      justify-content: center

      width: 100%

      padding: 10px 20px

      a
        flex: 0 0 70px

        position: relative

        width: 100%
        height: 60px
        max-width: 70px

        border: 1px solid white

        img
          width: 100%
          height: 100%

          object-fit: cover
          object-position: center

        .slide__play
          top: 50%
          left: 50%
          position: absolute
          transform: translate(-50%, -50%)

          width: 40px
          height: 40px

          color: $color--gray-light

          svg
            width: 100%
            height: 100%

footer
  position: relative

  &::after
    content: ''

    left: 0
    right: 0
    z-index: -1
    bottom: 320px
    position: absolute

    width: 100vw
    height: 600px

    background-size: 100% auto
    background-repeat: no-repeat
    background-position: left bottom
    background-image: url("/assets/img/graphic.svg")

@import ./_components